.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-header h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.app-header p {
  color: #888;
  margin-bottom: 2rem;
}

.app-main {
  padding: 2rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
